body {
    padding: 0;
    margin: 0;
}

.wrap {
    padding: 30px;
}

.wrap .class .alert-box {
    display: none;
    width: 100%;
    height: 20px;
    line-height: 100%;
    padding: 25px;
    border-radius: 8px;
    font-size: 20px;
    color: #fefefe;
    background-color: #3233FF;
}

.homework .login {
    display: none;
    width: 100%;
    height: 20px;
    line-height: 100%;
    padding: 25px;
    color: #202020;
    background-color: #CCFF00;
}